:root {
  --main-fons: 'Roboto', sans-serif;
  --secondary-fons: 'Raleway', sans-serif;
  --dark-main-txt-cl: #212121;
  --silver-txt-cl: rgba(255, 255, 255, 0.6);
  --gray-txt-cl: #757575;
  --white-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --white-logo-txt-cl: #ffffff;
  --dark-logo-txt-cl: #000000;
  --skyblue-logo-txt-cl: #2196f3;
  --accent-input-cl: #2196f3;
  --gray-icon-bg-cl: #757575;
  --silver-icon-bg-cl: #afb1b8;
  --white-modal-icon-bg-cl: #ffffff;
  --white-social-bg-cl: #ffffff;
  --white-team-bg-cl: #ffffff;
  --white-modal-bg-cl: #ffffff;
  --backdrop-bg-cl: rgba(0, 0, 0, 0.2);
  --footer-hero-bg-cl: #2f303a;
  --team-bg-cl: #f5f4fa;
  --btn-silver--bg-cl: #f5f4fa;
  --accent-btn-silver-bg-cl: #2196f3;
  --btn-blue-bg-cl: #2196f3;
  --accent-btn-blue-bg-cl: #188ce8;
  --accent-icon-bg-cl: #2196f3;
  --hero-lg-bg-cl: rgba(47, 48, 58, 0.4);
  --box-bg-cl: #f5f4fa;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --transition-delay: 600ms;
  --indent: 30px;
  --items: 4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

/*
  |==============================
  | Base styles
  |==============================
*/
body {
  font-family: var(--main-fons);
  color: var(--dark-main-txt-cl, #212121);
}

.no-scroll {
  overflow: hidden;
}

/*
  |==============================
  | Reset style
  |==============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

/*
  |==============================
  | Container style
  |==============================
*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*
  |==============================
  | Header style
  |==============================
*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__contact-item {
  margin-right: 50px;
}

.header__contact-item:last-child {
  margin-right: 0;
}

.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--gray-txt-cl, #757575);
  fill: var(--gray-icon-bg-cl, #757575);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--accent-txt-cl, #2196f3);
  fill: var(--accent-icon-bg-cl, #2196f3);
}

.header__contact-icon {
  width: 16px;
  height: 16px;
}

.header__contact-icon--right {
  margin-right: 10px;
} /*# sourceMappingURL=main.css.map */
